/* This is the stylesheet for the products-, contact- and info.html pages */

body {
    background-color: #d3d3d3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 7%;
    margin-right: 7%;
}

header, footer {background-color: #c0baba;}

header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0;
}

.link {
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    padding: 1rem;
    color: #000000;
}

nav a:hover {
    background-color: #008b8b;
    border-radius: 6px;
}

nav.sticky {
    position: sticky;
    top: 0;
    background-color: #c0baba;
}

section {
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 3rem;
}

ul {
    list-style: none;
}

ul > li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

/* Below is the table layout */

#products {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#products td, #products th {
border: 1px solid;
padding: 0.5rem;
}

#products tr:nth-child(even)
{background: #8f9293;}

#products tr:hover {background-color: #bd6363;}

#products th {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    text-align: left;
    background-color:#008b8b;
    color: #262626;
}

#products td {
    text-align: left;
}

/* Transparent and responsive picture on the contact page */

#stonewall {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    max-height: 12rem;
    object-fit: cover;
    border-radius: 6px;
    opacity: 0.6;
}

/* Styles of the info-page */

input[type=range] {
    accent-color: #008b8b;
}

input[type=submit]{
    cursor: pointer;
    border: none;
    border-radius: 7px;
    padding: 16px 32px;
    color: #e5e5e6;
    background-color: #008b8b;
}